html {
  font-size: 10px;
  background: url("http://1063thebuzz.com/files/2013/02/Butt_Drums.png?w=600&h=0&zc=1&s=0&a=t&q=89") bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* main styles */
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
/*overall properties of the "keys" */
.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  transition: all .07s ease;
}
/*(ABOVE) Individual properties of the Keys which all have a key class. NOTE: transition effect included here - allows JS to switch smoothly from this class to the class below*/
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
/* (Above) New class that will be assigned to which ever key is pressed. Notes the transform aspect put on here.*/

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}